<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Request Mapping</title>
</head>
<body>
<h1>Hello Request Mapping</h1>

<a th:href="@{/user/detail}">用户详情</a> <br/>
<a th:href="@{/product/detail}">产品详情</a>

<br/>
<br/>

<form th:action="@{/user/login}" method="post">
    <label>
        用户名
        <input type="text" name="username"/>
    </label>

    <label>
        密码
        <input type="password" name="password"/>
    </label>

    <input type="submit" value="登录">
</form>
</body>
</html>